CitadelHeroAbilities.hero_violet
{
	wash-color: violetColor;
}

CitadelHeroAbilities.hero_kingy
{
	wash-color: kingyColor;
}

CitadelHeroAbilities.hero_fathom
{
	wash-color: fathomColor;
}

CitadelHeroAbilities.hero_keller
{
	wash-color: kellerColor;
}

CitadelHeroAbilities.hero_ramattra
{
	wash-color: ramattraColor;
}